blinkt>=0.1.2
gTTS>=2.5.1
protobuf>=4.0.0
PyAudio>=0.2.14
python-dotenv>=1.0.1
pytimedinput>=2.0.1
requests>=2.31.0
setuptools>=66.1.1
structlog>=24.1.0
google-cloud>=0.34.0
google-cloud-speech>=2.0.1
playsound>=1.2.2
grpcio>=1.49.1,<2.0dev
rpi-lgpio>=0.4